@import './_variables';

.submit {
  background-color: #4433ff
}

.center {
  margin: auto
}

.content {
  margin-top: 3.8rem;
}

.container-lg {
  margin-top: 3rem;
  padding: 2.7rem;
  min-height: calc(100vh - 7rem);
}

.form-check{
  input {
    border-color: $primary-color;
    margin-top: 0.5rem;
    border-radius: 0;
  }

  button {
    background-color: $primary-color;
    border-radius: 0 !important;
    border-color: $primary-color;
    font-size: $normal-text;
    padding: 0.5rem 0.5rem;
    &:hover {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

.password-container {
  margin: 0;
  padding: 50px 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
